# Ignore virtual environment folder
env/
venv/

# Ignore node_modules folder
node_modules/

# Ignore package lock json files
package-lock.json
package.json

# Pytohtn cache files
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]

# Ignore logs
*.log
*.out
*.err

# Ignore Juptyer Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore the mp4 files
*.mp4


